<div class="logo">
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu>
    <span title><i class="anticon anticon-user"></i><span class="nav-text">考生成绩统计</span></span>
    <ul>
      <li nz-menu-item>考生成绩</li>
      <li nz-menu-item>Bill</li>
      <li nz-menu-item>Alex</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-team"></i><span class="nav-text">班级成绩统计</span></span>
    <ul>
      <li nz-menu-item>成绩统计</li>
      <li nz-menu-item>一分三率</li>
      <li nz-menu-item>分段统计</li>
    </ul>
  </li>
  <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span>
  </li>
</ul>
